.container {
  width: 100%;
  height: 900px;
}

.userForm {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.userInput {
  width: 40%;
  font-size: 20px;
}

.sumbitBtn {
  width: 50px;
}

/*userInfo*/

.userInfo {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.main {
  width: 70%;
  height: 100%;
  border: 1px solid gray;
  background-color: white;
}

.main > div {
  font-size: 30px;
  font-weight: bolder;
}

.main * {
  padding-top: 10px;
  padding-left: 10px;
}

.userServer {
  width: 30px;
  height: 30px;
}

.wallR {
  width: 15%;
  height: 100%;
  background-color: gray;
  border: 1px solid gray;
}

.wallL {
  width: 15%;
  height: 100%;
  background-color: gray;
  border: 1px solid gray;
}
